src/main/mule/mulesoft-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="69ad2b62-424d-459c-a405-2a6a96ef6ea0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulesoft-apiFlow" doc:id="ae8484a2-a424-47d3-9f10-020339f3f775" >
		<http:listener doc:name="Listener" doc:id="2b9bcd31-d851-4aae-a5a7-32700951837f" config-ref="HTTP_Listener_config" path="/mulesoftapi"/>
		<logger level="INFO" doc:name="Logger" doc:id="9a731e59-6019-4271-9522-b4986001a23e" message="#[payload]"/>
	</flow>
</mule>
